#define docker hosts, and vip address.
docker_hosts="10.143.132.78 10.143.132.79 10.143.132.189"
keepalived_vip="10.143.132.75"

#install_mode=1 or 2.
#-----1:single node
#-----2:cluster nodes
install_mode=2

#define local registory address.
local_registory=10.143.132.47

#define projetc name, and used sub-ip-network address.
evproject=sxltcmp
preferrednetworks=172.30
dbevusernetworks=10.17
dbimnetworks=10.18

#define front serivces port,and use keepalived load balancing.
exposezuulport=21992
exposethirdport=21993

#define services architecture.
configprofile=ha
configlabel=sxltconfig

#define evconfig_service git info
git_uri="http:\/\/10.143.132.5:57990\/scm\/cmp\/guangdong-cmp-config.git"
git_username=liuganquan
git_password=111111

#define mysql info
mysql_root_password=Pbu4@123
mysql_im_password=Pbu4@123
mysql_evuser_password=Pbu4@123

#define redis info
redis_password=HuaweiCMP123.

#define active info
artemis_username=cmpimuser
artemis_password=HuaweiCMP123.

#define mongo info
mongodb_username=evuser
mongodb_user_password=Pbu4@123
mongodb_root_password=Pbu4@123
