    real_server ${rip} ${port} {
        weight 1
        TCP_CHECK {
            connect_timeout 10
            nb_get_retry 3
            delay_before_retry 3
            connect_port ${port}
        }
    }

